form{
  display: flex;
  height: 70vh;
  width: 40vw;
  border: 2px solid black;
  flex-direction: column;
  margin-left: 30vw;
  margin-top: 8vh;
  justify-content: space-around;
  align-items: center;
}

form div{
  display: flex;
  flex-direction: column;
  width: 75%;
  padding-left: 30%;
}

label{
  font-weight: bold;
  font-size: 1.5rem;
}

h1{
  margin-left: 35vw;
  padding-top: 5vh;
}

input,select{
  width: 60%;
}

.transfer{
  width: 40%;
  height: 5%;
}